# =========================
# MAVERICK - Git Ignore
# =========================

# Dataset
IO-VNBD/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment / secrets
.env
.env.*
!.env.example

# Large datasets
*.csv
*.zip
*.rar
*.7z

# ML model files
*.pt
*.pth
*.onnx
*.h5
*.keras

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# VS Code local settings
.vscode/
ML2_BACKUP_BEFORE_MERGE/
